# Point the CONFIG variable to place you store your configuration
CONFIG=
# If you are running locally you need to replace with your machine's IP
DOCKER_HOST_ADDRESS=

JIGASI_SIP_URI=jitsi-meet@node1
JIGASI_SIP_PASSWORD=changeit
JIGASI_SIP_SERVER=routr.rars-j
JIGASI_SIP_PORT=5060
JIGASI_SIP_TRANSPORT=TCP
JIGASI_XMPP_USER=jigasi
JIGASI_BREWERY_MUC=jigasibrewery
JIGASI_PORT_MIN=20000
JIGASI_PORT_MAX=20050
JICOFO_AUTH_USER=focus
JICOFO_AUTH_PASSWORD=1769218a7b570038f902dfb0ffba40fe
JICOFO_COMPONENT_SECRET=5520fef605cf27cfc08451b0bae4b1fe
JVB_AUTH_PASSWORD=fa7ff6b3eda10e2bf0b98c4d80598744
JIGASI_XMPP_PASSWORD=2a001146808ff5cc8b989e643751fcda
JIBRI_RECORDER_PASSWORD=59aa4a70f3bf33a890e7430fb5fb2d29
JIBRI_XMPP_PASSWORD=390b17d474a1ae02291dbe7ca44b2e74
HTTP_PORT=8000
HTTPS_PORT=8443
TZ=UTC
XMPP_DOMAIN=rars-j
XMPP_SERVER=xmpp.rars-j
XMPP_BOSH_URL_BASE=http://xmpp.rars-j:5280
XMPP_AUTH_DOMAIN=auth.rars-j
XMPP_MUC_DOMAIN=muc.rars-j
XMPP_INTERNAL_MUC_DOMAIN=internal-muc.rars-j
XMPP_GUEST_DOMAIN=guest.rars-j
XMPP_MODULES=
XMPP_MUC_MODULES=
XMPP_INTERNAL_MUC_MODULES=
XMPP_RECORDER_DOMAIN=recorder.rars-j
JVB_BREWERY_MUC=jvbbrewery
JVB_AUTH_USER=jvb
JVB_STUN_SERVERS=meet-jit-si-turnrelay.jitsi.net:443
JVB_PORT=10000
JVB_TCP_HARVESTER_DISABLED=true
JVB_TCP_PORT=4443
JVB_TCP_MAPPED_PORT=4443
JIBRI_RECORDER_USER=recorder
JIBRI_RECORDING_DIR=/config/recordings
JIBRI_FINALIZE_RECORDING_SCRIPT_PATH=/config/finalize.sh
JIBRI_XMPP_USER=jibri
JIBRI_BREWERY_MUC=jibribrewery
JIBRI_PENDING_TIMEOUT=90
JIBRI_STRIP_DOMAIN_JID=muc
JIBRI_LOGS_DIR=/config/logs
RESTART_POLICY=unless-stopped
